body{
    margin: 0;
    font-family: fantasy;
}

img{
    display: block;
    width: 100%
}

.main-header{
    padding: 0 20px;
}

.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: black;
    font-family: fantasy;
}

.main-nave{
    display: none;
}

.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header_link{
    color: peru
}

.main-nav{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: auto;
}

.menu{
    position: absolute;
    top: 180px;
    left: 0;
    background: whitesmoke;
    width: 100%;
    list_style: none;
    padding: 0px;
    margin: 0;
}

.menu_item{
    text-align: center;
    margin: auto;
}

.menu_link{
    padding: 20px;
    color: wheat;
    position: relative;
    display: block;
}

.menu_link:hover{
    background: white;
    color: #024070;
}

.mostrar{
    opacity: 1;
    visibility: visible;
}

.icon-menu{
    font-size: 1.5em;
    border: 1px solid darkslateblue;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: autoM
}

.main-header_btn{
    display: block;
    padding: 10px 30ox;
    color: #024070;
    border: 1px solid saddlebrown;
    test-decoration: none;
}


