<html>
    <link href="../static/css/tienda.css" rel="stylesheet" type="text/css"/>
    <head>
        <main class="main-header">Moda Deportiva Sport</main>
    </head>
    <body>
        <a href="ejemplo5.html">Back</a> 
        <a href="index.html">Home</a> 
        <a href="ejemplo2.html">Next</a> 
      
        <h1>MD</h1>
        <h2><mark style="background-color: FCE8E8; color: 824141"> &nbsp &nbsp  Moda Deportiva Sport &nbsp &nbsp </mark></h3>
        
        <h3>Recomendaciones</h2>
        
      <div class ="contenedor">
        <img class="img-1" src="../static/css/imagenes/Enterizo3.JPG" alt=""/>
        <img class="img-1" src="../static/css/imagenes/Kit16.JPG" alt=""/>
        <img class="img-1" src="../static/css/imagenes/Licra1.JPG" alt=""/>
      </div>  
      
        <h3>Ropa para hombre</h3>
        
        <div class ="contenedor">
        <img class="img-1" src="../static/css/imagenes/Licra1.JPG" alt=""/>
        <img class="img-1" src="../static/css/imagenes/Licra2.JPG" alt=""/>
        <img class="img-1" src="../static/css/imagenes/Licra3.JPG" alt=""/>
      </div> 
        
        <h3>Ropa para mujer</h3>
        
        <footer>
            <div>
                
            </div>
            Derechos reservados &COPY; 2022
        </footer>
        
    </body>
</html>
